{
  $debug_line
  http_port  $caddy_http_port
  https_port $caddy_https_port
}

http://$domain {
  redir https://$domain{uri}
}

https://$domain {
  handle_path /app/* {
    header Cache-Control "no-cache"
    root * {{ clientAppRoot }}
    file_server
  }

  @public path /favicon.ico /manifest.json /images/* /fonts/*

  handle @public {
    root * {{ clientPublicRoot }}
    file_server
  }

  handle_path /dist/* {
    header Cache-Control "public, max-age=31536000, immutable"
    root * {{ clientDistRoot }}
    file_server
  }

  handle /api/* {
    reverse_proxy $listen_host:$listen_port
  }

  handle /sockets/* {
    reverse_proxy $listen_host:$listen_port
  }

  handle {
    respond "404 Not Found" 404
  }
}
